<header>
  <nav>
    <a href="/" class="href">Mybrary</a>
    <ul>
      <li>
        <a href="/authors/new" class="href">authors</a>
      </li>
      <li>
        <a href="/authors" class="href">Add author</a>
      </li>
    </ul>
  </nav>
</header>
